.headerWrapper {
  max-width: calc(var(--container-width) + var(--spacing-unit) * 2);
  margin: 0 auto;
  padding: 0 var(--spacing-unit);
}

.headerContainer {
  justify-content: space-between;
  align-items: center;
}

.logout {
  margin-top: var(--spacing-unit-micro);
  color: aliceblue;
}

.logout > button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding: var(--spacing-unit-small);
  background-color: rgba(0, 0, 0, 0.4);
  color: aliceblue;
  border-radius: 0.25rem;
  border-radius: var(--rounded-radius);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.headerLogoLinkWrapper {
  margin: var(--spacing-unit-xxmicro) 0;
}

.headerLogoLink {
  padding: var(--spacing-unit-micro) var(--spacing-unit-tiny);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: var(--spacing-unit-xmicro);
}

.headerLogoLink a {
  text-decoration: none;
  color: var(--color-text);
  text-align: center;
  white-space: nowrap;
}

.headerLogo {
  line-height: 1.2;
  align-items: center;
  font-size: 1.6518974128rem;
  padding: var(--spacing-unit-xmicro) 0;
}

.logoImg {
  flex-shrink: 0;
  height: 1.5em;
}

.logoImg img {
  height: inherit;
  width: auto;
  transition: all 0.5s;
}

.logoImg img:hover {
  transform: translateX(-15px);
}

.dropShadow {
  box-shadow: var(--drop-shadow);
}
